body {
    padding: 0;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    background: black; /* Optional: Set background color */
}

#unity-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#unity-canvas {
    width: 100vw;
    height: 100vh;
    display: block; /* Remove extra spacing */
    background: #FFFFFF;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

.unity-mobile #unity-container,
.unity-mobile #unity-canvas {
    width: 100vw;
    height: 100vh;
}
