html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #4D4D4D;
    color: white;
}

#gameContainer {
    width: 100vw;
    height: 100vh;
}

.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0;
}

.webgl-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.webgl-content .logo, .progress, .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('https://funfrinew.neocities.org/games/TazMechanicSimulator/TemplateData56/logo.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 80px;
}

.webgl-content .progress .empty {
    background: url('https://funfrinew.neocities.org/games/TazMechanicSimulator/TemplateData56/progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('https://funfrinew.neocities.org/games/TazMechanicSimulator/TemplateData56/progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.webgl-content .text {
    margin-top: 110px;
    color: white;
    font-weight: 700;
}

.webgl-content .spinner {
    vertical-align: middle;
}

.webgl-content .logo.Dark {
    background-image: url('https://funfrinew.neocities.org/games/TazMechanicSimulator/TemplateData56/TemplateData/y8-logo.png');
    width: 206px;
    height: 130px;
    margin: 0 auto;
    background-size: 206px 130px;
}

.webgl-content .progress.Dark .empty {
    background: black;
}

.webgl-content .progress.Dark .full {
    background: red;
}

.webgl-content #gameContainer {
    background: #4D4D4D !important;
}
