@font-face {
    font-family:"Aller Display";
    src:    url("https://funfrinew.neocities.org/games/BasketBallStars/assets/fonts/AllerDisplay/AllerDisplay.eot?")                format("eot"),
            url("../fonts/AllerDisplay/AllerDisplay.woff")                format("woff"),
            url("https://funfrinew.neocities.org/games/BasketBallStars/assets/fonts/AllerDisplay/AllerDisplay.ttf")                 format("truetype"),
            url("https://funfrinew.neocities.org/games/BasketBallStars/assets/fonts/AllerDisplay/AllerDisplay.svg")    format("svg");
    font-weight:normal;
    font-style:normal;
}
