@font-face {
    font-family:"CfCrackBold";
    src:    url("https://funfrinew.neocities.org/games/BasketBallStars/assets/fonts/CfCrackBold/cfcrackandbold.eot?")                format("eot"),
            url("../fonts/CfCrackBold/cfcrackandbold.woff")                format("woff"),
            url("https://funfrinew.neocities.org/games/BasketBallStars/assets/fonts/CfCrackBold/cfcrackandbold.ttf")                 format("truetype"),
            url("https://funfrinew.neocities.org/games/BasketBallStars/assets/fonts/CfCrackBold/cfcrackandbold.svg")    format("svg");
    font-weight:normal;
    font-style:normal;
}
