.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling */
}

.webgl-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gameContainer {
    width: 100%;
    height: 100%; /* Ensures it takes the full height */
}

.webgl-content .logo, 
.webgl-content .progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('https://funfrinew.neocities.org/games/Backrooms3D/TemplateData/progressLogo.Light.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 90px;
}

.webgl-content .progress .empty {
    background: url('https://funfrinew.neocities.org/games/Backrooms3D/TemplateData/progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('https://funfrinew.neocities.org/games/Backrooms3D/TemplateData/progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.webgl-content .logo.Dark {
    background-image: url('progressLogo.Dark.png');
}

.webgl-content .progress.Dark .empty {
    background-image: url('progressEmpty.Dark.png');
}

.webgl-content .progress.Dark .full {
    background-image: url('progressFull.Dark.png');
}

.webgl-content .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
}
