.webgl-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.webgl-content .logo,
.webgl-content .progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.webgl-content .logo {
  background: url("https://funfrinew.neocities.org/games/ScrapMetal3/img/1run4progresslogo-light_orig.png") no-repeat center / contain;
  width: 154px;
  height: 130px;
}

.webgl-content .progress {
  height: 18px;
  width: 141px;
  margin-top: 90px;
}

.webgl-content .progress .empty {
  background: url("https://funfrinew.neocities.org/games/ScrapMetal3/img/2run42progressempty-light_orig.png") no-repeat right / cover;
  float: right;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.webgl-content .progress .full {
  background: url("img/4progresslogo444-dark_orig.png") no-repeat left / cover;
  float: left;
  width: 0%;
  height: 100%;
  display: inline-block;
}

.webgl-content .logo.Dark {
  background-image: url("img/4progresslogo444-dark_orig.png");
}

.webgl-content .progress.Dark .empty {
  background-image: url("img/5run45progressempty-dark_orig.png");
}

.webgl-content .progress.Dark .full {
  background-image: url("img/6r6un46progressfull-dark_orig.png");
}

.webgl-content .footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 38px;
  width: 960px;
  line-height: 38px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
}

.webgl-content .footer .webgl-logo,
.webgl-content .footer .title,
.webgl-content .footer .fullscreen {
  height: 100%;
  display: inline-block;
  background: transparent center no-repeat;
}

.webgl-content .footer .webgl-logo {
  background-image: url("https://funfrinew.neocities.org/games/ScrapMetal3/img/7webgl-logo-pngrun47webgl-logo_orig.png");
  width: 204px;
  float: left;
}

.webgl-content .footer .title {
  margin-right: 10px;
  float: right;
}

.webgl-content .footer .fullscreen {
  background-image: url("https://funfrinew.neocities.org/games/ScrapMetal3/img/8run48fullscreen_orig.png");
  width: 38px;
  float: right;
}
